   .main-page
{
	background-image:url("/imagens/fundorosa.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-size: cover;
    background-attachment: fixed;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    text-align: center;
}

#form1 {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  max-width: 450px;
  position: relative;
  padding: 20px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.ui-datepicker-trigger {
	position:relative; padding:3px ; height:35px
}