<!DOCTYPE HTML>

<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout.html}">

<head>
	<meta charset="utf-8">
</head>

<section class="p-5" layout:fragment="custom-section">
	
	<div class="container justify-content-center d-flex">
	
	<div id="form1">
	
<h1>Enviamos um email de confirmação para o seu email!</h1>

</div>
</div>
</section>

</html>