<!DOCTYPE HTML>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout.html}">

<head>
	<meta charset="utf-8">
</head>

<section class="p-5" layout:fragment="custom-section">

	<div class="container">
		<div class="p-3 text-danger">
			<h4>Entre em Contato por, algum de nossos canais.</h4>
		</div>
		<div class="row">
			<a class="p-4 col-sm-12 col-xl-4" href="https://api.whatsapp.com/send?phone=5522999012382" target="_blank"><img alt="..." src="/imagens/wpp.png" width="120" height="120"></a>
			<a class="p-4 col-sm-12 col-xl-4" href="https://www.facebook.com/lais.mathiasmarcelino" target="_blank"><img alt="..." src="/imagens/f.png" width="120" height="120"></a>
			<a class="p-4 col-sm-12 col-xl-4" href="https://www.instagram.com/laiscf_nails/?hl=pt-br" target="_blank"><img alt="..." src="/imagens/insta.png" width="120" height="120"></a>
		</div>
	</div>
	
</section>

</html>